.company__title {
    font-size: 36px;
    line-height: 1.16;
    color: var(--secondary-titele-color);
    margin-bottom: 50px;
    text-align: center;
}

.company__list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 180px) / 6);
    margin-left: -30px;
    margin-top: -30px;
}

.company__item {
    background-color: var(--primary-titele-color);
    margin-left: 30px;
    margin-top: 30px;
    box-sizing: border-box;
}

.company__link {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #afb1b8;
    background: #ffffff;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
        border: 1px solid #2196f3;
        fill: #2196f3;
    }
}

.company__icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .company__link:focus &,
    .company__link:hover & {
        fill: #2196f3;
    }
}