.card__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.card__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 90px) / 3);
}

.card__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.card__text {
    position: relative;
    overflow: hidden;
}

.card__paragraph {
    position: absolute;
    display: block;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.56;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--primary-titele-color);
    bottom: 0;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .card__item:hover &,
    .card__item:focus & {
        transform: translateY(0);
    }
    .card__link:hover &,
    .card__link:focus & {
        transform: translateY(0);
    }
}

.card__content {
    border: 1px solid var(--border-color);
    border-top: 0;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-titele-color);
    margin-bottom: 4px;
}

.card__form {
    line-height: 1.88;
    color: var(--primary-text-color);
}