.work {
    padding-top: 47px;
}

.work__title {
    font-size: 36px;
    line-height: 1.16;
    color: var(--secondary-titele-color);
    text-align: center;
    margin-bottom: 50px;
}

.work__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.work__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
    position: relative;
}

.work__text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-titele-color);
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
}